body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .one {
    background-color: rgb(87, 221, 87);
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .two {
    background-color: rgb(71, 107, 71);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  section {
    margin: 50px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  